/* font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* main header styles */
.banner-section{
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner-section .banner-image{
    height: 250px;
    width: 250px;
    border-bottom: 32px;
}

.banner-content{
    margin: 24px 0;
    padding: 0px;
    text-align: center;
}

.banner-content .banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    border-bottom: 24px;

}

.banner-content .banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    border-bottom: 32px;
}
.btn-primary .btn{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    cursor: pointer;
}

.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
}
/* shared section styles */
.section-video-container .section-title, .section-container-one .section-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}

.section-video-container .section-description, .section-container-one .section-description, .section-container-two .section-description{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
}

/* section one  why web development? styles */

/* section two my inspiration styles */
.section-video-container{
    width:100%;
    height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: (255, 255, 255);
    margin-top: 100px ;
}

.section-video-container .section-title{
    margin: 24px 0px;
    padding : 0px;
    border-bottom: 24px;

}
.section-video-container .section-description{
    margin: 24px 0px;
    padding: 0px;
    text-align: center;
    border-bottom: 48px;
}

.section-video-container .section-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 48px 0px;
    padding: 32px;

}

.section-video iframe{
    width: 1076px;
    height: 550px;
    margin: 10px 0px;
   
}

/* section three  my current target styles */
.section-target{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 100px;
}

 .section-container-one{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
  
}

.section-container-one .section-title{
    margin: 8px 0px;
    padding: 0px;
}
.section-container-one .section-description{
    margin: 8px 0px;
    text-align: center;
    margin-bottom: 48px ;

}

.section-container-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.image-one, .image-two, .image-three{
    margin: 0px 16px;
    padding: 40px;
    width: 100%;
    height: 220px;

    
}
.section-container-two .section-subtitle {
    margin: 8px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-top: 24px;
}
.section-container-two .section-description{
    margin: 8px 0px;
    padding: 0px;
    text-align: left;
    margin-bottom: 24px;
}
.image-one{
    border-bottom: 48px;
    background-color: rgba(255, 76, 30, 0.05);
}
.image-two{
    border-bottom: 48px;
    background-color: rgba(0, 76, 232, 0.05);
}
.image-three{
    border-bottom: 48px;
    background-color: rgba(255, 223, 0, 0.05);
}

/* shared images styles */
.image-one a ,.image-two a, .image-three a{
   
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

/* footer styles */
.footer-section{
    width: 1140px;
    height: 314px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    background-image:url("../assets/handshake.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px 0px;
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
.footer-section .footer-content{
    width: 1044px;
    height: 186px;
    margin: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.footer-content  .footer-box{
    width: 730px;
    height: 104px;
    margin: 24px 0px;
    /* border: 2px solid red; */

}
.footer-box .footer-title{
    margin: 16px 0px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    gap: 24px;
}

.footer-box .footer-description{
    margin: 16px 0px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    gap: 30px;

}

/* .btn-secondary{
    padding: 19px 20px 19px 20px;
    margin: 0px 16px; */
    /* width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15); */
    /* border-radius: 8px;
    background: rgb(255, 255, 255); }*/

.btn-secondary .footer-textarea{
    /* width: 100%;
    margin: 0 auto; */
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    padding: 19px 20px 19px 20px;
    margin: 0px 10px;
}
/* .btn-secondary .footer-btn-2{
    margin: 0px 16px;
    padding: 17px 20px 17px 20px;
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
} */

 .btn-secondary .btn-2{
    width:120px ;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 16px;
    padding: 17px 20px 17px 20px;
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}