/* font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* main header styles */
.banner-section{
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner-section .banner-image{
    height: 250px;
    width: 250px;
    border-bottom: 32px;
}

.banner-content{
    margin: 24px 0;
    padding: 0px;
    text-align: center;
}

.banner-content .banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    border-bottom: 24px;

}

.banner-content .banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    border-bottom: 32px;
}
.btn-primary .btn{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 10px;
    cursor: pointer;
}

.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
}
/* shared section styles */
.section-video-container .section-title, .section-container-one .section-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}

.section-video-container .section-description, .section-container-one .section-description, .section-container-two .section-description{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
}

/* section one  why web development? styles */

.section-one-container  .section-content-one{
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
    width: 80%;
    margin: 0 auto;
    height:1256px;
    padding: 80px 97px 80px 97px;
 
}

.section-content-one .web-dev-container{
    width: 946px;
     height: 1296px;
    width: 90%;
    margin: 0 auto;
    height: 1296px;
    margin: 0px 10px;
}

 .web-dev-container .web-dev{
    width: 852px;
    height: 115px;
    margin: 48px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.web-dev-two-container .web-dev-1, .web-dev-2, .web-dev-3{
    width:850px;
    height: 280px;
    margin: 32px 0px;
}

.web-dev-two-container .web-dev-1 .web-dev-1-container , .web-dev-2-container, .web-dev-3-container{
    width: 830px;
    height: 268px;
    margin: 0px 10px;
    display: flex; /* use flexbox layout */

}

.web-dev-two-container .web-dev-1 .web-dev-1-container .web-dev-1-content, .web-dev-2-content, .web-dev-3-content{
    width: 477px;
    height:220px;
    margin: 0px 10px;
    flex-basis: 60%;
}

.web-dev-two-container .web-dev-1 .web-dev-1-container .web-dev-1-content .web-dev-1-section ,.web-dev-2-section, .web-dev-3-section{
    width: 477px;
   height: 150px;
   margin: 32px 0px;
}

/* Shared web dev styles */
.wev-dev-container .web-dev.section-title {
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.web-dev .section-description{

    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}



 .web-dev-1-content .section-title,.web-dev-2 .section-title,.web-dev-3 .section-title{
    margin: 16px 0px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    width: 390px;
    height: 72px;
 }

.web-dev-1-content .section-description ,.web-dev-2-content .section-description, .web-dev-3-content .section-description{
    width: 468px;
    height: 52px;
    margin: 16px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    border-bottom: 40px;
}
.web-dev-1-container .link-1-container, .web-dev-2-container .link-2-container ,.web-dev-3-container .link-3-container{
    padding: 12px 20px 12px 20px;
    margin: 32px 0px; 
    width:140px;
    height:48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    
}

.link-1-container .link-1,.link-2-container .link-2 ,.link-3-container .link-3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
   letter-spacing: 0%;
   text-align: center;
   text-decoration: none;

}

/* .web-dev-1-container .web-dev-1-image {
    display:flex;
    justify-content: center;
    align-items: center;
    
  
  } */
  
  /* .web-dev-1-image-inner {
    
  
  } */





/* section two my inspiration styles */
.section-video-container{
    width:100%;
    height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: (255, 255, 255);
    margin-top: 100px ;
}

.section-video-container .section-title{
    margin: 24px 0px;
    padding : 0px;
    border-bottom: 24px;

}
.section-video-container .section-description{
    margin: 24px 0px;
    padding: 0px;
    text-align: center;
    border-bottom: 48px;
}

.section-video-container .section-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 48px 0px;
    padding: 32px;

}

.section-video iframe{
    width: 1076px;
    height: 550px;
    margin: 10px 0px;
   
}

/* section three  my current target styles */
.section-target{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

 .section-container-one{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
  
}

.section-container-one .section-title{
    margin: 8px 0px;
    padding: 0px;
}
.section-container-one .section-description{
    margin: 8px 0px;
    text-align: center;
    margin-bottom: 48px ;

}

.section-container-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.image-one, .image-two, .image-three{
    margin: 0px 16px;
    padding: 40px;
    width: 100%;
    height: 220px;

    
}
.section-container-two .section-subtitle {
    margin: 8px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin-top: 24px;
}
.section-container-two .section-description{
    margin: 8px 0px;
    padding: 0px;
    text-align: left;
    margin-bottom: 24px;
}
.image-one{
    border-bottom: 48px;
    background-color: rgba(255, 76, 30, 0.05);
}
.image-two{
    border-bottom: 48px;
    background-color: rgba(0, 76, 232, 0.05);
}
.image-three{
    border-bottom: 48px;
    background-color: rgba(255, 223, 0, 0.05);
}

/* shared images styles */
.image-one a ,.image-two a, .image-three a{
   
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

/* footer styles */
.footer-section{
    width: 1140px;
    height: 314px;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    background-image:url("../assets/handshake.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section ,.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px 0px;
    width: 1140px;
    height: 314px;
    margin: 0 auto;
}
.footer-section .footer-content{
    width: 1140px;
    height: 314px;
    margin: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content  .footer-box{
    width: 1044px;
    height: 186px;
    margin: 24px 0px;

}
.footer-box .footer-title{

    margin: 16px 0px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-box .footer-description{
    margin: 16px 0px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.btn-secondary .footer-textarea{

    width: 100%;
    margin: 0 auto; 
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    padding: 19px 20px 19px 20px;
    margin: 0px 10px;
}

 .btn-secondary .btn-2{
     margin: 0px 10px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}